@import '_defaults.scss';

$primary: #555;
$bg: #222;
$bg-sub: #333;
$links: #ddd;
$text: #999;
$fontSize: 12px;
$darken: darken($primary, 5);
$lighten: lighten($primary, 5);
$grey: #999;
$left-aside-width: 200px;
$right-aside-width: 200px;
$font: "Roboto";
$h: 20px;
$menu: 400px;
$gutter: 8px;
$header: #fff;
$border: 1px;
$asideHeaderHeight: 50px;
$titleSize: 13px;
$subtitleSize: 10px;
$line: 18px;
$dropdownWidth: 200px;
$transition: 0.001s;
$checkboxHeight: 16px;
$rangeSize: 4px;
$rangeCaptions: 10px;
$shadow: 0 -1px 0 rgba(0,0,0,.05),
							0 1px 2px rgba(0,0,0,.1),
							-1px 0 0 rgba(0,0,0,.07),
							1px 0 0 rgba(0,0,0,.07);
$logHeight: 70px + $gutter;
$logFontSize: 11px;
@mixin scrollbar {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		border-radius: $border;
		background: $bg-sub;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: $border;
		background: $primary;
	}
}

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
	outline: none !important;
}
.icon {
	pointer-events: none;
}
@mixin gradient($start, $end){
	background: linear-gradient(135deg, #{$start} 0%, #{$end} 100%);
}
@mixin gradientTop($start, $end){
	background: linear-gradient(0deg, #{$start} 0%, #{$end} 100%);
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
	line-height: $line;
	font-size: 12px;
	cursor: default;
	font-weight: 400;
	user-select: none;
/*	font-smooth: always;
	font-smooth: 2em;*/
	/*background: #8F65A6;*/
	@include gradient(#000, #222);
	/*background: url(../img/bg.jpg) no-repeat left;*/
	background-size: cover;
	overflow: hidden;
	&:active {
		cursor: default;
	}
}
.relative {
	position: relative;
}
label {
	display: inline-block;
	color: $links;
}
.clearfix:after,
.row:after {
	content: '';
	display: table;
	clear: both;
}
.row {
	margin: 0 #{-$gutter/2};
}
.spaced {
	padding: $gutter $gutter;
}
.spaced-vertical {
	padding: $gutter 0;
}
.spaced-horizontal {
	padding: 0 $gutter;
}
.spaced-top {
	padding-top: $gutter;
}
.spaced-bottom {
	padding-bottom: $gutter;
}
hr {
	background: $bg-sub;
	display: block;
	height: 1px;
	border: none;
	margin: $gutter 0;
}
*[class*="col-"] {
	float: left;
	padding: 0 #{$gutter/2};
	&.collapsed {
		padding-left: 0;
		padding-right: 0;
	}
	&.collapse-left {
		padding-left: 0;
	}
}
.col-1 {width: calc(100% / 12 * 1)}
.col-2 {width: calc(100% / 12 * 2)}
.col-3 {width: calc(100% / 12 * 3)}
.col-4 {width: calc(100% / 12 * 4)}
.col-5 {width: calc(100% / 12 * 5)}
.col-6 {width: calc(100% / 12 * 6)}
.col-7 {width: calc(100% / 12 * 7)}
.col-8 {width: calc(100% / 12 * 8)}
.col-9 {width: calc(100% / 12 * 9)}
.col-10 {width: calc(100% / 12 * 10)}
.col-11 {width: calc(100% / 12 * 11)}
.col-12 {width: calc(100% / 12 * 12)}

@import 'components/_input.scss';
@import 'components/_range.scss';
@import 'components/_select.scss';
@import 'components/_checkbox.scss';
@import 'components/_radio.scss';
@import 'components/_buttons.scss';


@import 'components/_header.scss';
@import 'components/_popup.scss';
@import 'components/_info-bar.scss';
@import 'components/_log.scss';

aside {
	/*background: #eee;*/
	/*transition: .2s;*/
	.toggle-aside {
		position: absolute;
		top: 50%; left: 100%;
		width: 16px; height: 100px;
		margin-top: -50px;
		border: none;
		font-size: 20px;
		background: $primary;
		color: #fff;
		line-height: 100px;
		text-align: center;
		padding: 0;
		transition: .1s;
		cursor: pointer;
		&:hover {
			background: $darken;
		}
		.icon {
			display: inline-block;
			transition: .2s;
			position: relative;
			right: 3px;
		}
	}
	&.active {
		.toggle-aside .icon {
			transform: rotate(180deg);
		}
	}
}

.island {
	padding: $gutter;
}

.title {
	margin: 0;
	font-size: $titleSize;
	font-weight: 500;
	line-height: 1;
	padding: 0;
	color: $text;
	position: relative;

	span {
		background: $bg;
		position: relative;
		z-index: 2;
		padding-right: $gutter;
	}
	&:after {
		content: '';
		display: block;
		width: 100%; height: 1px;
		position: absolute;
		top: 50%; left: 0;
		background: $bg-sub;
	}
}


@import 'components/_main-aside.scss';
@import 'components/_object-aside.scss';
@import 'components/_tabs.scss';

h2 {
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	color: $text;
	text-overflow: ellipsis;
}
h3 {
	font-size: $titleSize;
	font-weight: 500;
	color: $text;
	margin: 0;
}
h4 {
	color: #555;
	font-weight: 500;
}

.color-canvas {
	border-radius: 4px;
	overflow: hidden;
	cursor: default;
}
span.space {
	display: block;
	height: $gutter;
}

.hint {
	position: absolute;
	z-index: 6;
	background: #fff;
	color: #444;
	padding: 10px 15px;
	border-radius: 7px;
	box-shadow: 0 10px 30px rgba(0,0,0,.4);
	pointer-events: none;
	transition: .1s;
	opacity: 0;
	transform: translateY(10px) translateX(-50%);
	margin-top: 10px;
	&:before {
		content: '';
		display: block;
		border: 7px solid transparent;
		border-bottom: 7px solid #fff;
		left: 50%; bottom: 100%;
		position: absolute;
		margin-left: -7px;
	}
	&.active {
		transition: .2s;
		opacity: 1;
		transform: translateY(0) translateX(-50%);
	}
}
.dragged {
	cursor: move;
}

canvas {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.renderer-wrapper {
	position: absolute;
	top:0; right: 0; bottom: 0; left: 0;
	&.offset-left {
		/*left: $left-aside-width;*/
	}
}



.stats {
	position: absolute;
	z-index: 10;
	width: 80px;
	left: $gutter; bottom: $gutter;
	height: 48px;
}