.checkbox {
	position: relative;
	input {
		position: absolute;
		top: 0; left: 0;
		z-index: -1;
		transform: scale(0);

		&:checked ~ label:after {
			transform: scale(1);
		}
		&:focus ~ label:before {
			box-shadow: inset 0 0 0 1px $primary;
		}

	}

	&.collapsed label {
		padding-left: 0;
	}
	label {
		position: relative;
		display: inline-block;
		cursor: pointer;
		line-height: $checkboxHeight;
		padding-left: #{$checkboxHeight + $gutter};

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0;
			background: $bg-sub;
			font-family: "Roboto";
			height: $checkboxHeight; width: $checkboxHeight;
			border-radius: $border;
			border: none;
			padding: 0;
			transition: $transition;
		}
		&:after {
			font-family: 'icomoon' !important;
			content: "\e5ca";
			display: block;
			position: absolute;
			top: 0; left: 0;
			width: $checkboxHeight; height: $checkboxHeight;
			line-height: $checkboxHeight;
			color: $links;
			text-align: center;
			font-size: $titleSize;
			border-radius: $border;
			transform: scale(0);
			z-index: 2;
			transition: $transition cubic-bezier(.47,.08,.42,1.52);
		}
		&:hover:before {
			box-shadow: inset 0 0 0 1px transparentize($primary, .5);
		}
	}
}