.main-header {
	position: absolute;
	top: 0;
	display: block;
	background: $bg-sub;
	left: 0; right: 0;
	z-index: 5;
	transition: .2s;
	height: $h;
	padding: 0 10px;
	/*border-bottom: 1px solid rgba(0,0,0,.15);*/
	.sep {
		display: inline-block;
		width: 10px;
	}
	menu {
		display: block;
		margin-left: -10px;
		margin-right: -10px;
		/*position: fixed;*/
		font-size: 0;
		/*z-index: 2;*/
		padding: 0;
		/*left: 50%; margin-left: -#{$menu / 2};*/
		/*width: $menu;*/
		> ul {
			display: block;
			font-size: $fontSize;

			> li {
				display: inline-block;
				position: relative;
				transition: $transition;

				> a {
					display: block;
					line-height: $line;
					font-weight: 400;
					padding: 0 $gutter;
					text-decoration: none;
					color: $links;
				}
				> ul {
					position: absolute;
					background: darken($bg-sub, 10);
					padding: $gutter 0;
					/*box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
					border-radius: 0 0 $border $border;
					overflow: hidden;
					white-space: nowrap;
					display: none;
					font-size: $fontSize;
					min-width: $dropdownWidth;

					li {
						display: block;
						position: relative;

						&.separator {
							height: 1px;
							margin: $gutter 0;
							background: $bg;
						}
					}
					.help {
						position: absolute;
						right: 15px; top: 0;
					}
					a {
						display: block;
						text-decoration: none;
						color: $links;
						padding: 0 80px 0 30px;
						.icon {
							position: absolute;
							left: 10px; top: 3px;
							line-height: $line;
							display: none;
						}
						&:hover {
							color: #fff;
							background: $bg-sub;
						}
						&.active {
							.icon {
								display: block;
							}
						}
					}
				}
				&:hover {
					background: darken($bg-sub, 10);
					ul {
						display: block;
					}
				}
			}
		}
	}
	.information {
		position: absolute;
		line-height: $h;
		font-size: $fontSize * .9;
		top: 0; right: 0;
		color: $text;

		.count {
			display: inline-block;
			width: 20px;
		}
	}
}