.object-aside {
	position: absolute;
	top: $h; left: auto; right:0; width: $right-aside-width;
	bottom: 0;
	background: $bg;
	/*border-right: 1px solid rgba(255,255,255,.5);*/
	transform: translateX(100%) translateZ(0);
	color: $text;
	z-index: 3;

	.toggle-aside {
		left: auto; right: 100%;
		border-radius: 5px 0 0 5px;
		.icon {
			transform: rotate(-180deg);
		}
	}
	&.active {
		transform: translateX(0)  translateZ(0);
		.toggle-aside {
			.icon {
				transform: rotate(0deg);
			}
		}
	}
	&.console-offset {
		bottom: $logHeight + $gutter*2;
	}
	header {
		position: absolute;
		top: 0; left: 0; right: 0;
		height: 50px;
		padding: 6px 25px;
		background: $header;
		z-index: 2;
	}
	.separator {
		position: absolute;
		z-index: 3;
		margin-top: -10px;
		background: rgba(0,0,0,.2);
		cursor: pointer;
		color: #fff;
		font-size: 19px;
		width: 100%;
		text-align: center;
		transition: $transition;
		height: 20px; line-height: 20px;
		button {
			display: inline-block;
			line-height: 20px;
			border: none;
			width: 40px; height: 20px;
			color: inherit;
			transition: $transition;
			cursor: pointer;
			font-size: 20px;
			background: rgba(0,0,0,.1);
			&:hover {
				background: rgba(0,0,0,.2);
			}
			&:active {
				background: rgba(0,0,0,.2);
			}
		}
		&:hover {
			background: rgba(0,0,0,.3);
		}
		&:active {
			transition: none;
			cursor: move;
		}
	}
	.scene, .body {
		position: absolute;
		top: 0%; left: 0; right: 0; bottom: 60%;
		overflow: auto;
		z-index: 1;
		padding: $gutter 0;
		@include scrollbar();
	}
	.body {
		top: 40%; bottom: 0;
		margin-top: 10px;
		margin-bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		padding: $gutter 0;
	}
	.slider-captions {
		>* {
			cursor: pointer;
			transition: .1s;
			&:hover {
				color: #444;
			}
		}
	}
	.scene {
		ul {
			li {
				padding: 0 $gutter;
				clear: both;
				.name {
					float: left;
					width: 75%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.buttons {
					float: right;
					width: 25%;
					text-align: right;
				}
			}
		}
	}
}