.range {
  -webkit-appearance: none;
  margin: 0 0;
  width: 100%;
  background: transparent;
}
.range:focus {
  outline: none;
}
.range::-webkit-slider-runnable-track {
  width: 100%;
  margin-top: -$gutter;
  height: $rangeSize;
  cursor: default;
  position: relative;
  background: $bg-sub;
  border-radius: $border;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: default;
  width: $checkboxHeight;
  height: $checkboxHeight;
  /*background: $primary;*/
  background: $bg-sub;
  top: 50%; position: absolute;
  border-radius: 50%;
  margin-top: -$checkboxHeight/2;
  box-shadow: inset 0 0 0 1px transparentize($primary, .5);

  &:hover {
    background: lighten($bg-sub, 5);
  }
  &:active {
    background: linear-gradient(0deg, $darken 0%, $primary 100%);
  }
}
.slider-captions {
  font-size: $rangeCaptions;
  line-height: 1;
  font-weight: 400;
  padding-top: $gutter/2;
  color: $grey;
}
.range-name {
  font-weight: bold;
  line-height: 1;
}
.range.vertical {
  transform: translateY(0) rotate(270deg);
  width: 200px;
  position: absolute;
  top: 0; right: 50%;
  transform-origin: bottom right;
}
/*.range:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}*/